@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
  /****** body ****************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    background: #F2F2F2;
}
 /**************** banner part start***************/
.container{
    width: 100%;
    height: 677px;
    background: #2D25A0;
    
}
.banner{
    display: flex;
    align-items: center;
    padding-left: 152px;
}
.container .banner h1{
    color: white;
    font-weight: 700;
    font-size: 45px;
    
    padding-top: 70px;

}
span{
    position: relative;
    top: 20px;
    color: rgb(27, 25, 25);
    background: rgba(226, 9, 27, 0.753);
    padding: 3px 10px;
    transition:1s;
    border-radius:10px;
}
 span:hover{
    color: blue;
    background: rgb(65, 161, 190);
}
span a{
    text-decoration: none;
    color:white;
    
}
.container .banner img{
    width: 556px;
    height: 438px;
    position: relative;
    top: 60px;
    left: 100px;
}

 /**************** banner part end***************/
 /***
 
 ************* player-list (main) start ***********************/
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 30px;
    margin-bottom: 50px;
}
 .player-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-gap: 20px;
    width: 1050px;
}
.player-list .player-details{
    width: 300px;
    padding: 10px;
    box-shadow: 2px 1px 5px 3px rgba(151,145,145,0.75);
}
.player-details img{
    width: 100%;

}
.player-details .player-information p{
    font-size: 10px;

}
 /**************** player-list (main) end ***********************/
 /* ************** highlight part start ********************/
 .highlights{

    width: 1050px;
    display: flex;
    padding: 100px 0;
 }   
 .highlights-details{
    width: 50%;
    text-align: left;
    position: relative;
    top:80px;
    }
.highlights img{
    width: 50%; 
}

 /* ************** highlight part end ********************/

  /*************** footer-part start**********************/
  .footer-part{
      text-align: center;
    padding: 50px 0;
  }  
  .footer-part img{
        width: 480px;
    }
     .footer-part .media-icons{
        padding-bottom: 20px;
        
    }
    .footer-part .media-icons i{
        padding: 15px;
        width: 32px;
        height: 32px;
}
@media screen and (min-device-width: 320px) and (max-device-width: 768px){
    .footer-part{
        text-align: center;
      padding: 15px 0;
    }
    .footer-part img{
        width: 80%;
    }
     .footer-part .media-icons{
        padding-bottom: 15px;
    }
    .footer-part .media-icons i{
        padding: 15px;
        width: 32px;
        height: 32px;
}
}

  /*************** footer-part end**********************/
  /*************** responsive**********************/
  /*************** mobile device**********************/

  @media screen and (min-device-width: 320px) and (max-device-width: 768px) {
   /**************** banner part *************************/
    .container {
      width: 100%;
      height: 700px;
    }
    .banner{
        display: block;
        padding-left: 5%;
    }
..container .banner h1{
    font-size: 10px;
    
    padding-top: 10px;
}
.container .banner img{
    width: 500px;
    height: 390px;
    position: relative;
    top: 5px;
    left: 140px;
}
span:hover{
    color: blue;
    background: rgb(65, 161, 190);

   /**************** player list  part responsive *************************/
    main{
        display: block;
        text-align: center;
        flex-direction: row;
        position: relative;
        top: 10px;
    }
    .player-list{
        display: grid;
        grid-template-columns: repeat(1, 1fr) ;
        grid-gap: 15px;
        width: 100%;
    }
    .player-list .player-details{
        width: 100%;
        
        padding: 10px;
        box-shadow: 2px 1px 5px 3px rgba(151,145,145,0.75);
    }
    .player-details .player-information p{
        font-size: 7px;
        text-align: center;
    
    }

    /******************************** highlight part responsive ***********************/
    .highlights{

        width: 100%;
        display: block;
        flex-direction: row;
        padding: 20px 10px;
     } 
     .highlights-details{
        width: 100%;
        text-align: left;
        padding: 10px;
        }
        .highlights img{
            width: 100%;
            margin-top: 170px; 
        }
  /*************** footer-part responsive**********************/


  }